<a href="https://colab.research.google.com/github/kimmijin34/code_3rd/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. To do list를 작성하시오
  - 2023년 10월 19일 김미진
  - (1) 09:20 도서관에서 책 빌리기
  - (2) 11:10 컴퓨팅적사고와 기초코딩 수업
  - (3) 13:00 점심식사
  - (4) 14:00 교양수업
  - (5) 16:00 파이썬 공부 및 레포트 작업
  - (6) 17:40 저녁식사 및 집안일 돕기
  - (7) 19:00 LOL하기

In [ ]:
print("2023년 10월 19일 김미진")#2023년 10월 19일 김미진을 출력합니다.
print("(1) 09:20 도서관에서 책 빌리기")#09:20 도서관에서 책 빌리기를 출력합니다.
print("(2) 11:10 컴퓨팅적 고와 기초코딩 수업")#11:10 컴퓨팅적 사고와 기초코딩 수업을 출력합니다.
print("(3) 13:00 점심식사")#13:00 점심식사를 출력합니다.
print("(4) 14:00 교양수업")#14:00 교양수업을 출력합니다.
print("(5)16:00 파이썬 공부 및 레포트 작업")#16:00 파이썬 공부 및 레포트 작성을 출력합니다.
print("(6) 17:40 저녁식사 및 집안일 돕기")#17:40 저녁식사 및 집안일 돕기를 출력합니다.
print("(7) 19:00 LOL하기")#19:00 LOL하기를 훌력합니다.

2023년 10월 19일 김미진
(1) 09:20 도서관에서 책 빌리기
(2) 11:10 컴퓨팅적 고와 기초코딩 수업
(3) 13:00 점심식사
(4) 14:00 교양수업
(5)16:00 파이썬 공부 및 레포트 작업
(6) 17:40 저녁식사 및 집안일 돕기
(7) 19:00 LOL하기

2. 인사말 출력하기
- 식사하셨습니까? 행님?

In [ ]:
print("식사하셨습니까? 행님?")#식사하셨습니까? 행님?을 출력합니다.

식사하셨습니까? 행님?

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
- 박보검:90점
-션:92점
-도룡용:80점
-차은우:99점
-국어 점수 순위
-1등 차은우
-2등 션
-3등 박보검
-4등 도룡용

In [ ]:
n1 = input("학생 점수를 입력하시오")# 사용자로부터 첫 번째 학생의 점수를 입력받아 n1 변수에 저장합니다.
n2 = input("학생 점수를 입력하시오")# 사용자로부터 두 번째 학생의 점수를 입력받아 n2 변수에 저장합니다.
n3 = input("학생 점수를 입력하시오")# 사용자로부터 세 번째 학생의 점수를 입력받아 n3 변수에 저장합니다.
n4 = input("학생 점수를 입력하시오")# 사용자로부터 네 번째 학생의 점수를 입력받아 n4 변수에 저장합니다.
print("국어 점수 순위")
print("1등", n4)# 가장 높은 점수인 n4를 1등으로 출력합니다.
print("2등", n2)# 두 번째로 높은 점수인 n2를 2등으로 출력합니다.
print("3등", n1)# 세 번째로 높은 점수인 n1을 3등으로 출력합니다.
print("4등", n3)# 가장 낮은 점수인 n3을 4등으로 출력합니다.

학생 점수를 입력하시오박보검 90점
학생 점수를 입력하시오션 92점
학생 점수를 입력하시오도룡용 80점
학생 점수를 입력하시오차은우 99점
국어 점수 순위
1등 차은우 99점
2등 션 92점
3등 박보검 90점
4등 도룡용 80점

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
n1 = int(input("n1의 값을 입력하시오"))# 사용자로부터 n1의 값을 입력받아 정수로 변환하여 n1 변수에 저장합니다.
n2 = int(input("n2의 값을 입력하시오"))# 사용자로부터 n2의 값을 입력받아 정수로 변환하여 n2 변수에 저장합니다.
total = n1+n2# n1과 n2의 값을 더하여 total 변수에 저장합니다.
average = total / 2# total 값을 2로 나누어서 average 변수에 저장합니다.
print(total) # total 값을 출력합니다.
print(average) # average 값을 출력합니다.

n1의 값을 입력하시오2
n2의 값을 입력하시오2
4
2.0